<div class="sidebar-container">
  <div class="sidebar">
    <div *ngFor="let item of sidebarData" class="sidebar-item">
      <p class="sidebar-header" (click)="toggleExpand(item)">
        {{ item.name }}
        <span class="toggle-icon">{{ item.expanded ? '▼' : '▶' }}</span>
      </p>

      <div *ngIf="item.expanded" class="dropdown">
        <div *ngFor="let dropdown of item.dropdown" class="dropdown-item">
          <p class="dropdown-header" (click)="toggleExpand(dropdown)">
            {{ dropdown.name }}
            <span class="toggle-icon">{{ dropdown.expanded ? '▼' : '▶' }}</span>
          </p>

          <div *ngIf="dropdown.expanded && dropdown.dropDownItems" class="drop-down-items">
            <div *ngFor="let dropDownItem of dropdown.dropDownItems" class="drop-down-item">
              <p class="item-header" (click)="toggleExpand(dropDownItem)">
                {{ dropDownItem.name }}
                <span class="toggle-icon">{{ dropDownItem.expanded ? '▼' : '▶' }}</span>
              </p>

              <div *ngIf="dropDownItem.expanded && dropDownItem.miniDropDown" class="mini-dropdown">
                <div *ngFor="let mini of dropDownItem.miniDropDown" class="mini-item">
                  <p class="mini-header" (click)="toggleExpand(mini)"
                       (dblclick)="onDoubleClick(mini.dropDownProperties, mini.name)">
                    {{ mini.name }}
                    <span class="toggle-icon">{{ mini.expanded ? '▼' : '▶' }}</span>
                </p>

                  <div *ngIf="mini.expanded && mini.dropDownProperties?.length" class="dropdown-properties-sidebar">
                    <div *ngFor="let prop of mini.dropDownProperties" class="sidebar-property-key">
                      <p>{{ prop.name }}</p>
                      <p>Released:</p>
                      <p>Final: </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="selected-chart" *ngIf="selectedProperties.length > 0">
    <h3>{{ selectedChartName }}</h3>
    <div class="properties-list">
      <div *ngFor="let prop of selectedProperties" class="property-item">
        <div class="property-name" (click)="togglePropertyExpand(prop)">
          {{ prop.name }}
          <span class="toggle-icon">{{ prop.expanded ? '−' : '+' }}</span>
        </div>

        <div *ngIf="prop.expanded" class="property-details">
          <div>Released: {{ prop.releaseDate | date:'mediumDate' }}</div>
          <div>Final: {{ prop.finalDate | date:'mediumDate' }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
