$sidebar-width: 300px;
$collapsed-sidebar-width: 0;
$sidebar-bg: #ffffff;
$primary-color: #2f4050;
$hover-bg: #e0e0e0;
$font-color: #000000;
$icon-size: 10px;
$bg-color: #ffffff;
$border-color: #d1d5db;
$text-color: #4b5563;
$hover-color: #1e40af;

.sidebar-container {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100vh;
  background: $bg-color;
  box-sizing: border-box;

  .sidebar {
    width: $sidebar-width;
    background: $sidebar-bg;
    border: 1px solid $border-color;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .sidebar-item {
      margin-left: 0;
      margin-bottom: 6px;

      .sidebar-header {
        cursor: pointer;
        user-select: none;
        padding: 12px;
        font-size: 16px;
        font-weight: 600;
        color: $primary-color;
        background-color: lighten($primary-color, 50%);
        border-radius: 5px;
        position: relative;
        display: flex;
        gap: 6px;
        align-items: center;

        &:hover {
          background-color: $hover-bg;
        }


      }

      .dropdown {
        margin-left: 15px;
        margin-top: 5px;

        .dropdown-item {
          margin-left: 0;
          margin-bottom: 5px;

          .dropdown-header {
            cursor: pointer;
            user-select: none;
            padding: 12px;
            font-weight: 500;
            color: $text-color;
            background-color: lighten($primary-color, 80%);
            border-radius: 4px;
            position: relative;
            font-size: 14px;
            display: flex;
            gap: 10px;
            align-items: center;

            &:hover {
              background-color: $hover-bg;
            }


          }

          .drop-down-items {
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            gap: 6px;

            .drop-down-item {
              margin-left: 0;

              .item-header {
                cursor: pointer;
                user-select: none;
                padding: 12px;
                font-weight: 400;
                color: $text-color;
                background-color: lighten($primary-color, 90%);
                border-radius: 4px;
                position: relative;
                font-size: 13px;
                display: flex;
                gap: 6px;
                align-items: center;

                &:hover {
                  background-color: $hover-bg;
                }


              }

              .mini-dropdown {
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                gap: 6px;

                .mini-item {
                  margin-left: 0;
                  margin-bottom: 5px;

                  .chart-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .mini-header {
                      cursor: pointer;
                      user-select: none;
                      padding: 12px;
                      font-size: 12px;
                      font-weight: 500;
                      color: $text-color;
                      background-color: lighten($primary-color, 95%);
                      border-radius: 4px;
                      position: relative;
                      display: flex;
                      gap: 6px;
                      align-items: center;

                      &:hover {
                        background-color: $hover-bg;
                      }

                      input {
                        align-self: flex-end;
                        right: 0;
                      }
                    }
                  }

                  .dropdown-properties-sidebar {
                    display: flex;
                    margin-left: 35px;
                    gap: 4px;

                    .sidebar-property-key {

                      cursor: default;
                      font-size: 12px;
                      display: flex;
                      flex-direction: column;
                      gap: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .selected-chart {
    width: 400px;
    height: 400px;
    background: $sidebar-bg;
    border: 1px solid $border-color;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow-y: auto;
    z-index: 1200;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid rgb(179, 179, 179);

      h3 {
        color: $primary-color;
        font-weight: 700;
        text-align: center;
      }

      p {
        cursor: pointer;
        color: rgb(194, 43, 43);
      }
    }

    .properties-list {
      .property-item {
        border-bottom: 1px solid lighten($border-color, 20%);
        padding: 8px 0;

        .property-name {
          cursor: pointer;
          user-select: none;
          position: relative;
          padding-right: 25px;
          font-weight: 600;
          color: $text-color;

          &:hover {
            color: $hover-color;
          }


        }

        .property-details {
          margin-left: 20px;
          color: $font-color;
          font-size: 14px;
          margin-top: 5px;
          line-height: 1.5;
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;
          max-width: 500px;

          p {
            display: grid;
            grid-template-columns: 150px 1fr;
            width: 100%;
            margin: 0;

            span {
              text-align: left;
              word-break: break-word;
            }
          }
        }

      }
    }
  }

  .toggle-icon {
    padding-right: 4px;
    font-size: $icon-size;
    color: $font-color;
    text-align: center;
  }

  .fa-earth-asia {
    color: rgb(58, 110, 179);
  }

  .fa-layer-group {
    color: #4682B4;
  }

  .fa-sheet-plastic {
    color: #3CB371;
  }

  .fa-chart-simple {
    color: #1E90FF;
  }

  .fa-solid:hover {
    opacity: 0.85;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
}